body{
	text-align: center;
	background-color: aqua;
	text-decoration: none;
}

h1{color: orange;}

#names, #oneRandomer{
	border: 1px solid black;
	background-color: white;

}

#triggerRandomizer{
	background-color: black;
	color: white;
	width: 30%;
}


li, ul{
	background-color: white; 
}

button{
	background-color: orange;
}