*{
	list-style-type: none;

	margin-right: 5%;
	margin-left: 5%;
}

body{
	text-align: center;
	background-color: aqua;
}

h1{
	color: orange;
}

#names, #oneRandomer, #groups{
	border: 1px solid black;
	background-color: white;
	margin-bottom: 5%;
}

#triggerRandomizer{
	background-color: black;
	color: white;
	width: 30%;
}


li, ul #names, #group{
	background-color: white;
	text-decoration: none; 
}

input{

	margin-right: 0;
	margin-left: 0;
}

button{
	margin-right: 0;
	margin-left: 0;
	background-color: orange;
}